* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 1px solid black;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.userInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px;
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.userInput input {
  border: none;
  outline: none;
  padding: 5px;
}

.userInput button {
  border: none;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.etch {
  display: grid;
  width: 100%;
  height: 100%;
}

.sketch {
  border: 1px solid black;
}
